pillow>=11.3.0
PyMuPDF>=1.26.7
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
transformers==4.51.3
safetensors>=0.7.0
numpy>=2.4.0
huggingface-hub>=0.36.0
tokenizers>=0.20.3
accelerate>=1.12.0
qwen-vl-utils>=0.0.11
av>=15.0.0
flash-attn==2.8.0.post2  # Successfully compiled and installed!
opencv-python>=4.13

colorama
